*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animate{
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.row-m{
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
    overflow: hidden;
    

}
.row-m:nth-child(even){
    margin-left: 1px;
}
.hexagon{
    position: relative;
    height: 110px;
    width: 100px;
    background-color: #111;
    margin: 1px;
    clip-path: polygon(50% 0% , 100% 25% , 100% 75% , 50% 100% , 0% 75% , 0% 25%);
    transition: 2s;
}

.hexagon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.02);

    
}

.hexagon:hover{
    
    transition: 0s;
    background: #0f0;
    cursor: alias;

}
.gap-2{
    gap: 2px;
}

.signin{
    padding: 40px;
    width: 400px;
    background-color: #222;
    z-index: 999999;
    box-shadow: 0 15px 35px rgba(0,0,0,9);
    color: #0f0;
    animation: animate 4s linear infinite;
    
}

.i{
    
    left: 3px;
    animation: none;
    color: #aaa !important;
    transition: 0.5s;
    padding: 15px 10px;
}

input:focus~.i{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.swal-text{
    text-align: center;
}



@media  (min-width:1800px) {
    .row-m{
        display: none;
 }   
}